.main-content {
  margin-top: 60px;
  min-height: calc(100vh - 60px);
  background-color: var(--background);
  transition: margin-left 0.3s ease-in-out;
}

.main-content.nav-open {
  margin-left: 200px;
}

.main-content.nav-closed {
  margin-left: 60px;
}